body {
  background-color: rgb(146, 137, 228);
  margin: 10%;
  font-family: "Roboto Mono", monospace;
}

#start-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

#guess-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: auto;
}

#guess-container img {
  width: 100%;
  margin: auto;
  border-radius: 8px;
}

h1 {
  margin: auto;
  color: #5449b1;
}

#button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.btn {
  border-radius: 8px;
  padding: 4%;
  margin: 1%;
  background: rgb(206, 160, 243);
  border: none;
  font-family: "Roboto Mono", monospace;
}

.btn:hover {
  /* border: 4px solid rgb(231, 132, 215); */
  opacity: 0.9;
  box-shadow: 2px 4px #cc79b9;
}

.wrongStudent {
  background-color: rgb(245, 101, 101);
  border: 4px solid rgb(245, 101, 101);
}

.correctStudent {
  background-color: rgb(57, 163, 57);
  border: 4px solid rgb(57, 163, 57);
}

#button-container.hide {
  display: none;
}

#start-container.hide {
  display: none;
}

#restart-game {
  display: none;
}

#restart-game.show {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: "Roboto Mono", monospace;
  background-image: url("assets/images/rabbit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 100%;
  height: 30rem;
  padding: 10%;
}

/* #restart-game.show img {
  width: 100%;
  margin: auto;
} */

/* here starts @media quieries for iPad */
@media only screen and (min-width: 768px) {
  #button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .btn {
    width: 40%;
  }

  #restart-game.show {
    width: 80%;
    background-size: 100%;
  }
}

/* Here starts media queries for desktop */

@media only screen and (min-width: 992px) {
  .btn {
    width: 20%;
  }

  #guess-container img {
    width: 60%;
    margin: auto;
  }
}

.disabled {
  pointer-events: none;
}
