body {
  background-color: rgb(216, 160, 229);
  margin: 2%;
  font-family: arial;
}

#start-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

#guess-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: auto;
}

#guess-container img {
  width: 80%;
  margin: auto;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}

#button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4% 0 0 0;
}

.btn {
  border-radius: 6%;
  padding: 2%;
  margin: 1%;
  background: lightgray;
}

.wrongStudent {
  background-color: red !important;
}

.correctStudent {
  background-color: green !important;
}

#button-container.hide {
  display: none;
}

#start-container.hide {
  display: none;
}

#restart-game {
  display: none;
}

#restart-game.show {
  display: flex;
}

/* here starts @media quieries for iPad */
@media only screen and (min-width: 768px) {
  body {
    background-color: lightcoral;
  }

  #button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .btn {
    width: 40%;
  }
}

/* Here starts media queries for desktop */

@media only screen and (min-width: 992px) {
  body {
    background-color: lightcyan;
  }
  .btn {
    width: 20%;
  }

  #guess-container img {
    width: 60%;
    margin: auto;
  }
}
